* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Bai Jamjuree", sans-serif;
  color: hsl(210, 10%, 33%);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 42px;
}

p {
  margin: 0;
}

.m-200 {
  margin-top: 200px;
}

.m-150 {
  margin-top: 150px;
}

.m-100 {
  margin-top: 100px;
}

.t-center {
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
}

.logo {
  margin-top: -250px;
  text-align: center;
  z-index: 1000;
}

.heading,
.heading-low {
  padding-top: 20px;
  text-align: center;
}

.heading h3 {
  margin: auto;
  width: 52%;
  color: hsl(201, 11%, 66%);
}

.heading-low h3 {
  margin: auto;
  width: 42%;
  color: hsl(201, 11%, 66%);
}

.button-heading {
  text-align: center;
  margin-top: 50px;
}

.btn {
  border: none;
  border-radius: 50px;
  color: white;
  padding: 18px 36px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  margin-right: 12px;
}

.btn:hover {
  cursor: pointer;
}

.btn-green {
  background-color: hsl(171, 66%, 44%); /* Green */
  transition: 0.3s;
}

.btn-green:hover {
  -webkit-box-shadow: 5px 5px 15px -6px #26baa4;
  box-shadow: 5px 5px 15px -6px #26baa4;
}

.btn-blue {
  background-color: hsl(233, 100%, 69%); /* Green */
}

.info {
  margin-top: 200px;
  text-align: center;
}

.info-text h2 {
  font-size: 38px;
}

.info-text h4 {
  margin: auto;
  width: 52%;
  color: hsl(201, 11%, 66%);
}

.monitor-wrap {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
}

.monitor-text {
  text-align: left;
  padding-left: 100px;
  padding-top: 30px;
}

.monitor-text h6 {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  padding-top: 40px;
}

.monitor-text p {
  width: 70%;
  color: hsl(201, 11%, 66%);
}

.tablet {
  margin-top: 160px;
}

.tablet-wrap {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.pre-wrap {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.wraping:first-child img {
  margin: 20px;
}

.wraping:nth-child(2) img {
  margin: 24px;
}

.wraping:nth-child(3) img {
  margin: 24px;
}

.wraping {
  width: 60%;
  padding-right: 30px;
}

.wraping p {
  color: hsl(201, 11%, 66%);
}

.logos-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.logos-wrapper div {
  margin-right: 80px;
}

.heading-low {
  padding-top: 20px;
  text-align: center;
}

.heading-low p {
  color: hsl(201, 11%, 66%);
  width: 60%;
  text-align: center;
}

footer {
  margin-bottom: 10px;
}

.footer-wrap {
  background-color: hsl(214, 33%, 96%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-wrap .footer-logo {
  display: grid;
  justify-content: center;
  align-content: center;
}

.footer-wrap .footer-logo img {
  height: 60px;
  margin: 40px 0 40px 0;
}

.footer-wrap .nav {
  margin: 40px 0 40px 0;
  display: flex;
  flex-direction: row;
}

.footer-wrap .nav div {
  display: inline-block;
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}

.footer-wrap .nav div a {
  text-decoration: none;
  color: hsl(210, 10%, 33%);
  font-weight: 600;
  line-height: 2;
  transition: 0.3s;
}

.footer-wrap .nav div a:hover {
  cursor: pointer;
  color: hsl(171, 66%, 44%);
}

.footer-wrap .socials {
  margin: 40px 0 40px 0;
}

.footer-wrap .socials svg {
  margin-right: 20px;
  margin-top: 20px;
}

.icon {
  transition: 0.3s;
}

.icon:hover {
  cursor: pointer;
  fill: hsl(171, 66%, 44%);
}
